<!DOCTYPE html>
<html>
  <body>
    <h2>pokedex features</h2>
    <form action="/">
      <select id="search" name="search">
        <option value="id">ID</option>
        <option value="num">Num</option>
        <option value="name">Name</option>
        <option value="img">Image Link</option>
        <option value="candy">Candy</option>
        <option value="type">Type</option>
        <option value="weakness">Weakness</option>
      </select>
      <br>
      <h4>enter specific trait:</h4>
      <input type="text" id="input" name="input">
      <input type="submit" value="Submit">
    </form>
      <br>

      {% for x in var %}
      {{x}}
      <br>
      {% endfor %}
  </body>
</html>
