<!DOCTYPE html>
<html>
<head>
  <style>
    .square {
      background-color:#404040;
    }
    .square1 {
      background-color:#DCDCDC;
    }
  </style>

</head>

<body>

<h1> <center>ARRAYS</center><h1>
<div> coffeescript</div>
<code style="color:silver"> <div class="square"> kids = <br>
  &emsp; brother: <br>
  &emsp; &emsp; name: "Max" <br>
  &emsp; &emsp; age: 11


</div> </code>

<br>

<div> javascript</div>
<code>
  <div class="square1">
var kids; <br> kids = {<br> &emsp; brother: { <br>&emsp; &emsp; name: "Max",  <br> &emsp; &emsp; age: 11
<br> &emsp; }, <br> }; </div></code>
<br>
<a href="/page4"> Next page </a>
</body>

</html>
