<!DOCTYPE html>
<html>
<head>
  <style>
    .square {
      background-color:#404040;
    }
    .square1 {
      background-color:#DCDCDC;
    }
  </style>

</head>

<body>

<h1> <center>CONDITIONALS</center><h1>
<div> coffeescript (white space matters!)</div>
<code style="color:silver"> <div class="square"> if y == 1<br>
&emsp; y = 3 <br> </div> </code>

<br>

<div> javascript</div>
<code>
  <div class="square1">
if (y === 1) {<br> &emsp; y = 3 <br>} </div></code>
<br>
<a href="/page2"> Next page </a>
</body>

</html>
