<!DOCTYPE html>
<html>
<head>
  <style>
    .square {
      background-color:#404040;
    }
    .square1 {
      background-color:#DCDCDC;
    }
  </style>

</head>

<body>

<h1> <center>FUNCTIONS</center><h1>
<div> coffeescript</div>
<code style="color:silver"> <div class="square"> square = (x) -> x * x</div> </code>

<br>

<div> javascript</div>
<code>
  <div class="square1">
var cube, square; <br> square = function(x) { <br> &emsp; return x * x; <br>}; </div></code>
<br>
<a href="/page3"> Next page </a>
</body>

</html>
