<!DOCTYPE html>
<html>
<head>
  <style>
    .square {
      background-color:#404040;
    }
    .square1 {
      background-color:#DCDCDC;
    }
  </style>

</head>

<body>
  <h1> <center>How to run CoffeeScript in terminal</center></h1>
  <div style="color:black"><span style="background-color:silver">coffee </span> (the command) </div> <br>
  <div style="color:black"><span style="background-color:silver">coffee nameoffile.coffee </span> (Compiler) </div> <br>

  <div> THE END </div>
</body>

</html>
