<!DOCTYPE html>
<html>
<head>
  <title>CoffeeScript</title>

  <style>
    .square {
      border: 1px solid black ;
    }
  </style>
</head>


<body>
  <h1 style="color:white;background-color:#3d1600"> <center>CoffeeScript</center> </h1>
  <h3> <center>By Albert Wan</center></h3> <br><br>

  <h3> <center>INTRODUCTION</center></h3> <br><br>
<div class="square">

<h3><p align="left">
What exactly is CoffeeScript?</p></h3>

  <li style="color:#B5651D"> 'CoffeeScript is just Javascript' </li> <br>
  <li style="color:#B5651D"> Offers simpler syntax
    <ul>
      <li > Exposes the good parts of Javascript in a simple way </li>
    </ul>
  </li >
  <li style="color:#B5651D"> Uses elements of Python, Ruby, and Haskell
    <ul>
      <li> White spaces matter </li>
    </ul>
  </li>
</div>

<br>
<div class="square">

<h3><p align="left">
Why CoffeeScript?</p></h3>

  <li style="color:#B5651D"> The compiled output will be readable and pretty-printed </li> <br>
  <li style="color:#B5651D"> Faster/as fast of Javascript
    <ul>
      <li style="color:#B5651D"> No delay when compiling into JS, no interpretation at runtime </li>
    </ul>
  </li>
  <li style="color:#B5651D"> Syntax used is easier to read and more efficient

  </li>
</div>
<br>
<div class="square">

<h3><p align="left">
How to install:</p></h3>

  <li style="color:#B5651D"> You need to have the latest version of Node.js
In terminal
 </li> <br>
  <li style="color:#B5651D"> Input in terminal: <span style="background-color:black">npm install --global coffeescript</span>

    <ul>
      <li style="color:#B5651D"> Makes commans 'coffee' and 'cake' usable. (compilers) </li>
    </ul>
  </li>
  <li style="color:#B5651D"> Then input:
    <span style="background-color:black">npm install --save-dev coffeescript</span>
    <ul>
      <li style="color:#B5651D"> Allows CoffeeScript to be downloaded locally in your project </li>
    </ul>

  </li>
</div><br><br>

<a href="/page1"> Next page </a>

</body>
</html>
